In [1]:
import pandas as pd

In [5]:
num = "00"
user_vote = pd.read_csv("./data/vote/user_vote_0"+num+".csv")

In [6]:
user_vote

                user_id  game_id  vote
0     76561198922212384   292030     1
1     76561198922212384      730     1
2     76561198822204571   292030     1
3     76561198822204571   552100     1
4     76561198845933691   292030     1
...                 ...      ...   ...
5600  76561198289343737   238460     1
5601  76561198289343737   665090    -1
5602  76561198289343737   282800     1
5603  76561198289343737   329490     1
5604  76561198289343737   204360     1

[5605 rows x 3 columns]